/* ==============================
   基本設定（スマホファースト）
   ============================== */
body {
  font-family: 'Yu Gothic', 'YuGothic', '游ゴシック体', '游ゴシック', sans-serif;
  margin: 0;
  padding: 0;
  color: #000;
  background: #f9f9f9;
}

.header, .footer {
  color: #fff;
  background: #333;
  text-align: center;
  padding: 1px;
}

/* コンテンツの基本レイアウト（スマホでは縦並び） */
.container {
  padding: 3px;
}

.content {
  margin-bottom: 20px;
}

/* ==============================
   メディアクエリ（768px以上）
   ============================== */
@media (min-width: 768px) {
  /* Flexboxを使って横並びにする */
  .container {
    display: flex;
    gap: 30px;
/*    max-width: 1100px;*/
    max-width: 100%;
    margin: 0 auto;
  }

  .content {
/*    flex: 3; /* メイン領域を広く取る */
    margin-bottom: 0;
  }

  .sidebar {
/*    flex: 1; /* サイドバーは狭く */
  }
}